@import "./dynamic";
@import "./breakpoints";

#about {
  .sub-section {
    @include flex();
    gap: 1.5rem;
  }

  .section {
    &-left,
    &-right {
      flex-basis: 50%;
    }
  }

  .about-text {
    @include flex($direction: column);
    gap: 3rem;
  }

  .section-top,
  .section-bottom {
    @include flex($direction: column);
    gap: 1rem;
  }

  .container-list {
    @include flex();
    gap: 3rem;

    .list {
      @include flex($direction: column);
      gap: 0.5rem;
    }
  }
}
