@import "./dynamic";
@import "./breakpoints";

#about {
  @include mx(1rem);

  .section-top {
    @include media(desktop) {
      @include flex();
      gap: 1.5rem;
    }
  }

  .section {
    &-left,
    &-right {
      flex: 50% 0;
    }

    &-right {
      @include media(mobile) {
        margin-top: 1rem;
      }

      @include media(desktop) {
      }
    }
  }

  .about-text {
    @include flex($direction: column);
    gap: 3rem;
  }

  .section-top,
  .section-bottom {
    @include flex($direction: column);
    gap: 1rem;
  }

  .container-list {
    @include flex();
    gap: 3rem;

    .list {
      @include flex($direction: column);
      gap: 0.5rem;
    }
  }
}
