@import "./dynamic";
@import "./breakpoints";

#about {
  @include mx(1rem);

  .section-top {
    gap: 1rem;

    @include media(mobile) {
      @include flex($direction: column);
    }

    @include media(desktop) {
      @include flex();
    }
  }

  .section {
    &-left,
    &-right {
      flex: 50% 0;
    }

    &-left {
      img {
        @include flex();
      }
    }

    &-right {
      &-top,
      &-bottom {
        @include flex($direction: column);

        @include media(mobile) {
          gap: 1rem;
        }

        @include media(desktop) {
          gap: 1.5rem;
        }
      }
    }
  }

  .about-text {
    @include flex($direction: column);
    gap: 3rem;
  }

  .container-list {
    @include flex();
    gap: 3rem;

    .list {
      @include flex($direction: column);
      gap: 0.5rem;
    }
  }
}
