@mixin px($left, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin py($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin mx($left, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin my($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin mx-auto() {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($position: relative, $direction: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $position {
    position: $position;
  }
}

@mixin flex-center() {
  align-items: center;
  justify-content: center;
}

@mixin divider($space: null) {
  @if $space {
    min-height: $space;
  }

  min-height: 1px;
  color: red;
}
