@import "./dynamic";
@import "./breakpoints";

#footer {
  background-color: #f4f4f4;

  .section-top {
    @include flex();
    align-items: center;
    justify-content: center;

    @include media(mobile) {
      height: var(--footer-height-mobile);
    }

    @include media(desktop) {
      height: var(--footer-height);
    }
  }
}
