@import "./dynamic";
@import "./breakpoints";

.container-navbar {
  @include flex();
  justify-content: space-between;
  width: 100%;

  @include media(desktop) {
    @include px(1rem);
  }
}

.navbar-controller {
  @include flex();
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;

  @include media(mobile) {
    @include px(1rem);
  }
}

.navbar-toggle {
  @include flex($direction: column);
  border: none;
  cursor: pointer;
  gap: 0.25rem;
  background-color: transparent;
  background-image: none;

  .icon-bar {
    background-color: var(--color-black-9);
    border-radius: 1px;
    height: 2px;
    width: 1.5rem;
  }
}

.navbar {
  @include flex($position: fixed);
  width: 100%;

  &:not(.active) {
    background-color: var(--color-black-9);
    opacity: 0;
    height: 0;
    transition: all 1s;
  }

  &.active {
    opacity: 1;
    background-color: var(--color-white-9);
    border-color: var(--color-white);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
    transition: all 0.8s;
    z-index: 1;

    @include media(mobile) {
      height: var(--navbar-height-mobile);
    }

    @include media(desktop) {
      height: var(--navbar-height);
    }
  }

  a {
    color: var(--color-black-9);
  }
}

.navbar-brand {
  @include flex();
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.navbar-menu {
  display: flex;
  align-items: center;

  @include media(mobile) {
    background-color: var(--color-white);
    bottom: 0;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - var(--navbar-height-mobile));
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;

    &:not(.toggled) {
      top: calc(var(--navbar-height-mobile) * -50);
      transition: all 0.5s ease-in;
    }

    &.toggled {
      top: var(--navbar-height-mobile);
      transition: all 0.75s ease-out;
    }
  }

  .navbar-menu-item {
    color: var(--color-black-9);
  }

  @include media(desktop) {
    gap: 1rem;
    position: relative;
  }
}
