@import "./dynamic";
@import "./breakpoints";

#testimonials {
  @include flex($direction: column);
  @include mx(1rem);
  align-items: center;
  background-color: var(--color-white-9);

  @include media(mobile) {
    @include py(3.25rem);
  }

  @include media(desktop) {
    @include py(6.25rem);
  }

  .section-top {
    @include media(desktop) {
      padding-bottom: 4.5rem;
    }
  }

  .section-bottom {
    @include media(desktop) {
      @include flex();
      flex-wrap: wrap;
      gap: 1rem;

      .card {
        flex: 30% 0;
      }
    }
  }

  .testimonial {
    @include flex();
    padding: 1.5rem;
    gap: 1rem;

    img {
      border-radius: 50%;
      max-height: 4rem;
      max-width: 4rem;
    }
  }

  .testimonial-content {
    p {
      font-size: 0.875rem;
      font-style: italic;
    }

    .testimonial-meta {
      margin-top: 0.75rem;
      font-size: 0.9375rem;
      font-weight: 600;
      color: #666666;
    }
  }
}
