@import "./generator";
@import "./container";
@import "./breakpoints";
@import "./nav";
@import "./header";
@import "./features";
@import "./about";
@import "./services";
@import "./portfolio";
@import "./testimonials";
@import "./contact";
@import "./footer";

:root {
  --color-white-9: rgba(244, 244, 244, 0.9);
  --navbar-height-mobile: 3rem;
  --navbar-height: 5rem;
  --section-gap-mobile: 2rem;
  --section-gap-tablet: 2.5rem;
  --section-gap: 3rem;
  --footer-height-mobile: 3rem;
  --footer-height: 3.5rem;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility !important;
  color: #777777;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.cursor {
  cursor: pointer;
}

.btn {
  border-radius: 1.5rem;
  border: 0;
  color: #ffffff;
  font-size: clamp(0.75rem, 4vw, 1.25rem);
  font-weight: 500;
  padding: 0.875rem 2rem;
  transition: all 0.7s linear;

  @include media(mobile) {
  }

  &:not(:hover),
  &:not(:focus),
  &:not(:active) {
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 70%);
  }

  &:hover,
  &:focus,
  &:active {
    background-image: none;
    background-color: #6372ff;
    transition: all 1s linear;
  }
}

body,
img {
  max-width: 100%;
}

button {
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}

.container-main {
  @include flex($direction: column);

  @include media(mobile) {
    gap: var(--section-gap-mobile);
  }

  @include media(tablet) {
    gap: var(--section-gap-tablet);
  }

  @include media(desktop) {
    gap: var(--section-gap);
  }
}

.sub-section-col {
  @include flex($direction: column);
  gap: var(--sub-section-gap);
}

.divider {
  background-color: var(--color-white-9);
  height: 100%;
  position: relative;

  &:not(.divider-solid) {
    min-height: 1px;
  }

  &.divider-solid {
    min-height: 5px;
  }
}
