.container-navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 48rem) {
  .container-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-controller {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 30rem) {
  .navbar-controller {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 30rem) {
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    cursor: pointer;
    gap: 0.25rem;
    background-color: transparent;
    background-image: none;
  }
  .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1px;
    height: 2px;
    width: 1.5rem;
  }
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
}
.navbar:not(.active) {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  height: 0;
  transition: all 0.8s;
}
.navbar.active {
  opacity: 1;
  background-color: #ffffff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
  transition: all 0.8s;
  z-index: 1;
}
@media only screen and (max-width: 30rem) {
  .navbar.active {
    height: var(--navbar-height-mobile);
  }
}
@media only screen and (min-width: 48rem) {
  .navbar.active {
    height: var(--navbar-height);
  }
}
.navbar a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  display: flex;
  position: relative;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.navbar-menu {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 30rem) {
  .navbar-menu {
    background-color: rgb(238, 238, 238);
    bottom: 0;
    flex-direction: column;
    gap: 2rem;
    height: calc(50vh - var(--navbar-height-mobile));
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(var(--navbar-height-mobile) * -50);
    transition: all 0.5s ease-in;
  }
  .navbar-menu.toggled {
    top: var(--navbar-height-mobile);
    transition: all 0.75s ease-in-out;
  }
}
@media only screen and (min-width: 48rem) {
  .navbar-menu {
    gap: 1rem;
    position: relative;
  }
}

.intro {
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1,
.intro p {
  color: #ffffff;
}
.intro h1 {
  font-size: clamp(2.25rem, 8vw, 5.125rem);
  font-weight: 700;
  margin-bottom: 1rem;
}
.intro p {
  font-size: clamp(1.25rem, 4vw, 1.375rem);
  font-weight: 400;
  margin-bottom: clamp(1rem, 6vw, 5rem);
}
.intro .intro-text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100vh;
  justify-content: center;
  max-width: 50rem;
  text-align: center;
}

:root {
  --navbar-height: 5rem;
  --navbar-height-mobile: 3rem;
}

body {
  font-size: 16px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility !important;
  color: #777777;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.cursor {
  cursor: pointer;
}

.btn {
  border-radius: 1.5rem;
  border: 0;
  color: #ffffff;
  font-size: clamp(0.75rem, 4vw, 1.25rem);
  font-weight: 500;
  padding: 0.875rem 2rem;
  transition: all 0.7s linear;
}
.btn:not(:hover),
.btn:not(:focus),
.btn:not(:active) {
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 70%);
}
.btn:hover,
.btn:focus,
.btn:active {
  background-image: none;
  background-color: #6372ff;
  transition: all 1s linear;
}

/*# sourceMappingURL=styles.css.map */
